

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mortgage Calculator</h1>
    <p class="lead">
        The Mortgage Calculator helps you:
        <ul>
            <li>Choose the right loan for you</li>
            <li>The Interests and Repayment on your loan</li>
        </ul>
    </p>
</div>

@{
    Html.RenderPartial("_Calculator");
}

@section Scripts{
    @Scripts.Render("~/Scripts/Calculator/calculator.js")
}