body {
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


.navbar-brand {
    margin-top: -15px;
}


    .navbar-brand > img {
        display: inline-block !important;
        width: 20%;
    }

.menu-bottom-border {
    border-bottom: 4px solid #fc0;
}

.footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: #efefef;
}

footer {
    padding-top: 15px;
}


.pad-t-35 {
    padding-top: 35px;
}

.pad-b-45 {
    padding-bottom: 45px;
}

.mar-t-7 {
    margin-top: 7px;
}


.pagination > li > a, .pagination > .active > a {
    background-color: #fc0;
    border-color: #fc0;
}

@media print {
    body * {
        visibility: hidden;
    }

    .result-summary * {
        visibility: visible;
    }

    .result-summary {
        position: absolute;
        top: 40px;
        left: 30px;
    }
}

tbody.bold{
    font-weight:bold;
}
